//
// Helpers
// --------------------------------------------------

// Small helper classes

.align__text--left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-left--lg {
  text-align: inherit;
  @include media-query(lg) {
    text-align: left;
  }
}
.text-center--lg {
  text-align: left;
  @include media-query(lg) {
    text-align: center;
  }
}
.text-right--lg {
  text-align: inherit;
  @include media-query(lg) {
    text-align: right;
  }
}
.align__text--right {
  text-align: right;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}

// Only visible by screen readers

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

// Make elements relative

.relative {
  position: relative;
}

// Pad sections

.section-margin {
  margin-bottom: 150px;
  @include media-query(md) {
    margin-bottom: 300px;
  }
}
