%img-frame__diamond {
  transform: rotate(45deg);
  background: red;
  overflow: hidden;
  width: 480px;
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    transform: rotate(-45deg) scale(1.5);
  }
}
.img-frame__diamond--large {
  @extend %img-frame__diamond;
  width: 480px;
  height: 480px;
}
.img-frame__diamond--small {
  @extend %img-frame__diamond;
  width: 240px;
  height: 240px;
  position: absolute;
  right: -55px;
}
.diamond--top {
  bottom: 100%;
  &::before {
    content: " ";
    background: red;
    width: 240px;
    height: 240px;
    transform: rotate(45deg);
    position: absolute;
    top: 0;
  }
}
.diamond--bottom {
  top: 100%;
}
