%img-frame__diamond {
  transform: rotate(45deg);
  background-color: #ffffff;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    transform: rotate(-45deg) scale(1.5);
  }
}
%img-frame--shadow {
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.10);
}
%img-framer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  left: 0;
  @include media-query(lg) {
    width: 480px;
    height: 480px;
  }
}
.img-framer--left {
  @extend %img-framer;
  @include media-query(lg) {
    width: 480px;
    height: 480px;
    left: -50px;
  }
  @include media-query(xl) {
    left: 0;
  }
}
.img-framer--right {
  @extend %img-framer;
  left: auto;
  right: 0;
  float: none;
  margin: 150px 0 200px;
  @include media-query(sm) {
    margin: 350px 0 400px;
  }
  @include media-query(lg) {
    float: right;
    width: 480px;
    height: 480px;
    right: -120px;
    margin: 0;
  }
  @include media-query(xl) {
    right: 0;
  }
}
.img-frame__diamond--large {
  @extend %img-frame__diamond;
  @extend %img-frame--shadow;
  width: 240px;
  height: 240px;
  @include media-query(sm) {
    width: 480px;
    height: 480px;
  }
}
.img-frame__diamond--small {
  @extend %img-frame__diamond;
  width: 120px;
  height: 120px;
  position: absolute;
  left: 50%;
  margin-left: 40px;
  @include media-query(sm) {
    width: 240px;
    height: 240px;
    margin-left: 70px;
  }
}
.img-frame__overlay {
  position: absolute;
  bottom: -30px;
  left: 60%;
  @extend %img-frame--shadow;
  @include media-query(sm) {
    bottom: -50px;
  }
}
.diamond--top {
  bottom: 100%;
}
.diamond--bottom {
  top: 100%;
}
.diamond-decoration-1, .diamond-decoration-2, .diamond-decoration-3 {
  @extend .img-frame__diamond--small;
  z-index: 2;
}
.diamond-decoration-1 {
  background-color: #FBE5DD;
  top: 100%;
  display: block;
}
.diamond-decoration-2 {
  top: 100%;
}
.diamond-decoration-3 {
  top: 100%;
}



// Masonry

.grid-item {
  img {
    width: 100%;
  }
}
