//
// Scaffold
// --------------------------------------------------

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: 'Montserrat', sans-serif;
  color: $body-copy;
}
.main {
  position: relative;
  background-color: #FFFFFF;
  overflow: hidden;
  z-index: 10;
  max-width: 2240px;
  margin: 0 auto;
}
::selection {
  background: #FAEAEB;
}
::-moz-selection {
  background: #FAEAEB;
}
