include _head
.main
  .bg-angle__center

  include _header

  .container
    .row
      .col-12.col-lg-8.offset-lg-2.text-center
        .hero-block
          h1.title--xl.title--heart Blog

    .row.section__blog-posts
      .col-12.col-md-6.col-lg-4
        a.blog-post href="../post.html"
          .blog-post__image
            .blog-post__image-bg style="background-image: url('../images/blog/blog-placeholder.jpg');"
          .blog-post__content
            .blog-post__avatar
              img src="../images/global/katie.jpg"
            .blog-post__tags Ibiza
            .blog-post__title My recommendations for your Ibiza holiday
            .blog-post__date March 31, 2016
          .blog-post__arrow
      .col-12.col-md-6.col-lg-4
        a.blog-post href="../post.html"
          .blog-post__image
            .blog-post__image-bg style="background-image: url('../images/blog/blog-placeholder.jpg');"
          .blog-post__content
            .blog-post__avatar
              img src="../images/global/katie.jpg"
            .blog-post__tags Ibiza
            .blog-post__title My recommendations for your Ibiza holiday
            .blog-post__date March 31, 2016
          .blog-post__arrow
      .col-12.col-md-6.col-lg-4
        a.blog-post href="../post.html"
          .blog-post__image
            .blog-post__image-bg style="background-image: url('../images/blog/blog-placeholder.jpg');"
          .blog-post__content
            .blog-post__avatar
              img src="../images/global/katie.jpg"
            .blog-post__tags Ibiza
            .blog-post__title My recommendations for your Ibiza holiday
            .blog-post__date March 31, 2016
          .blog-post__arrow

  include _footer
