doctype html
html
  head
    meta charset="UTF-8"
    title Ooh lala - Bespoke bridal and event hair in Ibiza, Spain
    link href="favicon.ico" rel="shortcut icon"
    meta name="viewport" content="width=device-width initial-scale=1"
    link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Montserrat:400,500,600" rel="stylesheet"
    link href="css/style.css" rel="stylesheet" type="text/css"
  body
    .main
      .bg-angle__top-left

      include _header

      .container
        .row.align-items-center.section__hero
          .col-4
            img src="http://placehold.it/610x440"
          .col-8
            h1.title--xl.title--square
              | All you need is love
              br
              | and a fabulous hairstylist.
        .row.section__hero
          .col-12.align__text--center
            button.button.button--primary Find out more

        .row
          .col-5.offset-1
            h2.title--l Think of Ooh la la as your fairy godmother…
            p …for all things hair and beauty. Granting wishes in the form of hairstyling and makeup.
            p I am Katie Bolt and have spent the last ten years specializing in creating bespoke bridal and event hair in Ibiza. My passion is to make each client feel a million dollars and I believe that everybody deserves some glamour and magic in their life.
            p At Ooh lala I have brought together the creme de la creme of the Island’s hair, makeup and beauty industries. We are here to transform you wherever, and whatever the occasion.

        .row
          .col-6
            img src="http://placehold.it/480x480"
          .col-5
            p Hair up and styling is what makes me happy and bridal hair is my thing.  Being part of such a special event is a total honor and my goal is that each and every customer is left feeling a zillion percent their most gorgeous, confident and fabulous self!
            p I take my profession very seriously and strive to stay on my A game with focused wedding and vintage hair courses from elite educators at the Vidal Sassoon Academy, Steiner of London and the Contemporary Academy among others. Always learning and keeping it fresh.
            p Ibiza is home to so many creative and talented souls and I have worked hard to bring together artists and stylist that I admire, and know how to deliver the goods, while putting you first.
        .row
          .col-10.offset-1.align__text--center
            .section__cta
              h3.title--xl Now let us bring some sunshine and sparkle to your day!
              a.button.button--primary href="#" Service & Pricelist

      include _footer
