include _head
.main
  .bg-angle__center
  .bg-angle__bottom-left
  .bg-angle__bottom-right

  include _header

  .container
    .row
      .col-12.col-lg-8.offset-lg-2
        .hero-block
          h1.title--xl.title--heart Service & Pricelist
          p.hero-paragraph All prices are inclusive of IVA, tax and the therapists call out fee. However, additional charges to enter the hotel or venue must be covered by the client.

    .row.section__services
      .col-12.col-lg-8.offset-lg-2
        .title--offset
          h2.title--l Hair services
        table.table--striped
          tr
            td Bridal hair with trial
            td.strong 165
          tr
            td Bridal hair
            td.strong 90
          tr
            td Bridesmaid hair with trial
            td.strong 105
          tr
            td Bridesmaid or guest
            td.strong 55
          tr
            td Flowergirl up to 6 years
            td.strong 27
          tr
            td Flowergirl 7 to 14 years
            td.strong 32
          tr
            td Upstyle for event 1 person
            td.strong 60
          tr
            td Long blowdry
            td.strong 55
          tr
            td Short blowdry
            td.strong 39

        .title--offset
          h2.title--l Makeup services
          i.text--s Only bridal makeup to include lashes
        table.table--striped
          tr
            td Bridal makeup with trial airbrush
            td.strong 195
          tr
            td Bridal makeup with trial
            td.strong 160
          tr
            td Bridal makeup airbrush
            td.strong 110
          tr
            td Bridal makeup
            td.strong 95
          tr
            td Bridesmaid or guest makeup airbrush
            td.strong 85
          tr
            td Bridemaid or guest makeup
            td.strong 65
          tr
            td Lashes only paid in cash
            td.strong 10

        .title--offset
          h2.title--l Glitter
          i.text--s Minimum spend on glitter 50
        table.table--striped
          tr
            td Face
            td.strong 18
          tr
            td Face and arm
            td.strong 30
          tr
            td Face arm and leg
            td.strong 42

        .title--offset
          h2.title--l Beauty
        table.table--striped
          tr
            td Individual lash extensions
            td.strong 135
          tr
            td Russian volume lash extensions
            td.strong 150
          tr
            td Lash infills
            td.strong 85
          tr
            td OPI shape and polish
            td.strong 45
          tr
            td OPI polish manicure
            td.strong 60
          tr
            td OPI polish pedicure
            td.strong 65
          tr
            td OPI gel polish manicure
            td.strong 70
          tr
            td OPI gel polish pedicure
            td.strong 75
          tr
            td Dermalogica bridal facial
            td.strong 80
          tr
            td Fake bake spray tan
            td.strong 70

    .row
      .col-12.col-lg-10.offset-lg-1.text-center
        .section__cta
          h3.title--xl I'd love to hear from you
          a.line-button.line-button--right href="#{baseURL}/contact.html" Contact me

  include _footer
