.grid {
  position: relative;
}
.grid.are-images-unloaded {
  opacity: 0;
}
.page-load-status {
  display: none;
  padding-top: 20px;
  text-align: center;
  color: #777;
}
.grid__sizer,
.grid__item {
  width: 100%;
  @include media-query(md) {
    width: 50%;
  }
  @include media-query(lg) {
    width: 33%;
  }
}
.grid__item {
  float: left;
  margin-bottom: 30px;
  padding: 0 15px;
}
.grid__item--large {
  width: 100%;
  @include media-query(md) {
    width: 50%;
  }
  @include media-query(lg) {
    width: 66%;
  }
}
.grid__item--quote,
.grid__item--quote-alt {
  background-color: $primary-color;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.10);
  padding: 40px;
  display: flex;
  flex-direction: column;
  min-height: 350px;
  .title--l {
    margin-bottom: 40px;
  }
}
.grid__item--quote-alt {
  background-color: $secondary-color;
}
.grid__item--author {
  margin-top: auto;
  align-self: flex-end;
}
.gallery-heart {
  position: absolute;
  width: 100px;
  height: 82px;
  right: -30px;
  top: -40px;
  z-index: 10;
  display: none;
  @include media-query(sm) {
    display: block;
  }
  @include media-query(lg) {
    width: 164px;
    height: 134px;
    right: -20px;
    top: -60px;
  }
}
