//
// Section - Hero
// --------------------------------------------------

.section__hero {
  margin: 0 0 50px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 320px;
  @include media-query(sm) {
    margin: 50px 0 100px;
    min-height: 440px;
  }
  @include media-query(md) {
    background-size: contain;
    background-position: left center;
  }
}
.hero-image {
  position: absolute;
  width: 50%;
  left: 0;

}
.title--square {
  position: relative;
  z-index: 100;
  padding: 30px;
  margin-bottom: 0;
  display: inline-block;
  left: 50px;
  bottom: -50px;
  background-image: linear-gradient(-135deg, rgba(250, 231, 232, 0.8) 0%, rgba(243, 202, 204, 0.8) 100%);
  font-size: 2rem;
  line-height: 2.5rem;
  @include media-query(lg) {
    bottom: 0;
    font-size: 3.5rem;
    line-height: 4rem;
  }
  @include media-query(xl) {
    background-image: none;
  }
  &::before {
    display: none;
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    top: 50%;
    margin-top: -150px;
    left: 0;
    z-index: -1;
    opacity: 0.8;
    background-image: linear-gradient(-135deg, #FAE7E8 0%, #F3CACC 100%);
    @include media-query(xl) {
      display: block;
    }
  }
}
.homepage__title {
  display: flex;
  justify-content: flex-end;
}
.hero-block {
  margin: 50px 0;
  position: relative;
  z-index: 2;
  text-align: center;
  @include media-query(sm) {
    margin: 100px 0;
  }
  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    background-color: #222;
    opacity: 0.5;
    width: 1px;
    height: 100px;
    margin-top: 0px;
    @include media-query(sm) {
      margin-top: 40px;
      height: 120px;
    }
  }
}
.hero-block--right {
  @include media-query(lg) {
    text-align: left;
    margin-bottom: 0px;
    &:after {
      opacity: 0;
    }
  }
}
.hero-paragraph {
  padding-bottom: 1.5rem;
  position: relative;
}
