.main
  .bg-angle__center

  = render "shared/header"

  .container
    .row.align-items-center.justify-content-center.section__contact
      .col-12.col-lg-6.order-2.order-lg-1
        form.contact-form
          label for="formName"
            span.required *
            | Your name
          input id="formName" type="text"

          label for="formEmail"
            span.required *
            | Your e-mail
          input id="formEmail" type="text"

          label for="formMessage"
            span.required *
            | Your message
          textarea id="formMessage"

          button.line-button.line-button--right type="submit" Send message

      .col-12.col-lg-5.offset-lg-1.order-1.order-lg-2
        .hero-block.hero-block--right
          h1.title--xl.title--heart
            | I’d love to
            br
            | hear from you
          ul.contact-list
            li.contact-list__item
              a href="https://www.facebook.com/KatieBoltMobileHairstylistIbiza/" target="_blank"
                span.icon.contact-list--facebook
                span.text
                | /Oohlalaibiza
            li.contact-list__item
              a href="https://www.instagram.com/katieboltibiza" target="_blank"
                span.icon.contact-list--instagram
                span.text
                | @Oohlalaibiza
            li.contact-list__item
              a href="mailto:info@Oohlalaibiza.com"
                span.icon.contact-list--mail
                span.text
                | info@Oohlalaibiza.com
            li.contact-list__item
              a href="tel:+34622699117"
                span.icon.contact-list--phone
                span.text
                | +34 622 69 91 17

  = render "shared/footer"
