//
// Buttons
// --------------------------------------------------

%button {
  display: inline-block;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  letter-spacing: 2px;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  font-size: 0.8rem;
  line-height: 1.5;
  min-width: 180px;
  transition: all 1.5s ease;
  position: relative;
  text-transform: uppercase;
  color: #222222;
  border: 1px solid #222222;
  background-color: transparent;
  &:hover, &:focus {
    text-decoration: none;
    color: #222222;
  }
}
.line-button {
  @extend %button;
  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    background-color: #222;
    opacity: 0;
    width: 1px;
    margin-top: 0px;
    transition: all 1s ease;
  }
  &:hover {
    &:after {
      opacity: 1;
    }
  }
}
.line-button--bottom {
  &::after {
    top: 100%;
    left: 50%;
    width: 1px;
    height: 1px;
  }
  &:hover {
    transform: translateY(-20px);
    &:after {
      height: 100px;
      top: 90%;
    }
  }
}
.line-button--right {
  &::after {
    top: 50%;
    left: 100%;
    width: 1px;
    height: 1px;
  }
  &:hover {
    transform: translateX(-20px);
    &:after {
      width: 100px;
      left: 95%;
    }
  }
}
