// Block colours

$primary-color: #FBE5DD;
$secondary-color: #FAEAEB;
$highlight-color: #EEC8AF;

// Text colours
$body-copy: #666666;
$heading-colour: #222222;

// Fonts
$heading-font: 'Libre Baskerville', serif;
